$main-color: white;
$button-bg: linear-gradient(270deg, #1987ff 0%, #19ccff 100%);
$header-close-color: rgba(255, 255, 255, 0.4);
$header-restore-color: rgba(255, 255, 255, 0.6);
$footer-link-color: #bdc0d0;
$rectangle-bg: #495795;
$circle: #db0000;
