.submitButton {
  cursor: pointer;
  display: flex;
  margin: 16px auto;
  width: 75%;
  min-height: 54px;
  height: 54px;
  font-family: 'SF Pro';
  font-size: 17px;
  align-items: center;
  justify-content: center;
  line-height: 17px;
  text-align: center;
  color: $main-color;
  background: $button-bg;
  border: none;
  border-radius: 27px;
}
