@import './styles/font.css';
@import './styles/styles.scss';

html {
  font-family: 'SF Pro', 'Arial', sans-serif;
  background: -webkit-image-set(
      url('./assets/4.png') 1x,
      url('./assets/4@2x.png') 2x,
      url('./assets/4@3x.png') 3x
    )
    no-repeat;
  background-size: cover;
}

p {
  margin: 0;
}

#root {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
