@import './styles/font.css';
@import './styles/styles.scss';

html {
  font-family: 'SF Pro', 'Arial', sans-serif;
}

p {
  margin: 0;
}

#root {
  height: 100vh;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
